@use "./partials" as *;

body {
    margin: 0;
}

/** NAVIGATION BAR **/

.main-nav {
    background-color: #323232;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2rem;
}

ul.main-nav__list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

a.main-nav__link {
    text-decoration: none;
    color: white;
}

.main-nav__title {
    text-align: center;
}

/** HERO BANNER **/

.hero-img {
    background-image: url(../assets/images/hero-bio.jpg);
    background-color: #FEFAF5;
    
    background-size: cover;
    display: flex;
    padding: 1rem;
    width: 100%;
}

.hero-text {
    text-align: center;
    padding-top: 9rem;
    margin-top: 6rem;
    color: white;
}

.hero-text__title {
    margin: 1rem;
}



/** ABOUT **/

.about, .about__body {
    margin: 1rem;
}

.about__quote {
    font-weight: bold;
}


/** GALLERY **/

.gallery {
    margin: 1rem;
}

.gallery__title {
    display: flex;
    margin: 1rem;
}

h2 {
    margin: 1rem;
}


/** FOOTER **/

.footer-bar {
    background-color: #323232;
    color: white;
    padding: 1rem;
}

.footer-bar__ig {
    width: 2rem;
    margin: 1rem;
}

.footer-bar__fb {
    width: 1rem;
    margin: 1rem;
}

.footer-bar__tt {
    width: 2rem;
    margin: 1rem;
}

.footer-bar__name {
    font-weight: bold;
}


